html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}body {line-height:1;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}nav ul {list-style:none;}blockquote, q {quotes:none;}blockquote:before, blockquote:after,q:before, q:after {content:'';content:none;}a {margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}ins {background-color:#ff9;color:#000;text-decoration:none;}mark {background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}del {text-decoration: line-through;}abbr[title], dfn[title] {border-bottom:1px dotted;cursor:help;}table {border-collapse:collapse;border-spacing:0;}hr {display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0;}input, select {vertical-align:middle;}

body {
   font-family: "Helvetica Neue",
   Arial,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;}

.header-menu ul li {display: inline;
  padding: 10px 5% 10px 5%;}
.header-menu a {color: #A9A9A9;
  text-decoration: none;}
.header-logo {display: block;
  text-align: center;}
.header-logo img {max-width: 300px;
  width: 100%}


a {-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;}
a:hover {color:  #5687c3;}

.side-parts {background-color: #a66e4a;
  color: #FFF;
  padding: 10px;}
.side-links {display:inline}
li {list-style: none;}

/*Responsive-Design*/
/*Phone&Tab*/
@media (max-width: 960px) {
header {border-bottom: 2px dotted #92D050;}
.header-menu {text-align: center;
  margin: 10px 1px 10px 1px;}
}
/*PC*/
@media (min-width: 960px) {
  @media (min-width: 960px) {
.header-logo img {float: left;
  padding: 0px 0px 10px 50px;
  width: 50%}
.header-menu {float: right;
  width: 500px;
  padding-top: 20px}
.header-menu a {border-left: 1px solid #A9A9A9;
  padding: 10px;
  line-height: 40px;}

  .side {float: right;
  width: 25%}
  .side-parts {border-radius: 7.5px 0 0 7.5px;
  margin: 30px 0px;}
}
