.side-parts {background-color: #a66e4a;
  color: #FFF;
  padding: 10px;}
.side-links {display:inline}
li {list-style: none;}

/*Responsive-Design*/
/*Tab*/
@media (min-width: 415px) {
  
}
/*PC*/
@media (min-width: 960px) {
  .side {float: right;
  width: 25%}
  .side-parts {border-radius: 7.5px 0 0 7.5px;
  margin: 30px 0px;}
}
